<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include
		resource="org/springframework/boot/logging/logback/base.xml" />

	<logger name="com.totvs.tjf" level="TRACE" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />

	</logger>

	<logger name="br.com.rdschool.query" level="TRACE"
		additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />

	</logger>

	<logger
		name="io.swagger.models.parameters.AbstractSerializableParameter"
		level="ERROR">
		<appender-ref ref="CONSOLE" />
	</logger>

</configuration>